.jumbotron {
    background-image: url("../img/pizza.png");
    background-position: center;
}

h1 {
    opacity: .75;
    background-color: #fff;
    text-align: center;
}

.card-body
{
    color: black;
}

.card-header {
    background-color: rgb(0,108,255);
    color: white;
}



