body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}

.message {
    border: 1px solid lightgray;
    padding: 5px;
    margin:  7px 10px 7px 10px;
    border-radius: 5px;
}

.message-info {
    background-color: lightblue;
    color: blue;

}

.message-success {
    background-color: lightgreen;
    color: green;
}

.message-warning {
    background-color: lightgoldenrodyellow;
    color: burlywood;
}

.message-error {
    background-color: indianred;
    color: firebrick;
}